.search-box {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
}

/* You can style any component from the app from any CSS file 
.card-list {
  background-color: red;
}
*/
